---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortFunctionsOnASingleLine: Inline
BreakAfterReturnType: AllDefinitions
ColumnLimit: 100
PointerAlignment: Right
SortIncludes:
  Enabled: false
SpaceAroundPointerQualifiers: Before
StatementMacros:
  - '__ssp_redirect'
  - '__ssp_redirect_raw'
  - '__ssp_redirect_wc'
  - '__ssp_redirect0'
  - '__ssp_bos_wicheck3'
  - '__ssp_bos_wicheck3_restrict'
  - '__ssp_bos_wicheck2_restrict'
...
