Source: picolibc
Priority: optional
Maintainer: Keith Packard <keithp@keithp.com>
Build-Depends: debhelper (>= 12), gcc-arm-none-eabi, gcc-riscv64-unknown-elf, meson, ninja-build
Standards-Version: 4.4.0
Section: devel
HomePage: https://keithp.com/git/riscv-binutils-gdb
Vcs-Git: https://salsa.debian.org/debian/binutils-riscv64-unknown-elf.git
Vcs-Browser: https://salsa.debian.org/debian/binutils-riscv64-unknown-elf

Package: picolibc-riscv64-unknown-elf
Architecture: all
Depends: ${misc:Depends}
Description: Smaller embedded C library for RISC-V development
 PicoLibc is a combination of Newlib and AVR libc bits designed
 for small-RAM embedded systems. This package has binaries for
 RISC-V processors.

Package: picolibc-arm-none-eabi
Architecture: all
Depends: ${misc:Depends}
Description: Smaller embedded C library for ARM development
 PicoLibc is a combination of Newlib and AVR libc bits designed
 for small-RAM embedded systems. This package has binaries for
 ARM processors. This library is intended to replace libnewlib-nano
